body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; 
    background-image: url("cloudy.jpg"); 
    overflow-y: auto; 
}

.container {
    text-align: center;
    padding: 40px 0; 
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(13px);
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    word-wrap: break-word; 
    word-break: break-word;
}

.weather-card:hover {
    transform: scale(1.05);
}

#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#city-input:focus {
    outline: none;
    border-color: #2196F3;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn {
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#city-input-btn:hover {
    background-color: #1565C0;
}

#weather-info {
    display: none;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

#description {
    font-size: 18px;
    margin-bottom: 10px;
}

#wind-speed {
    font-size: 16px;
    color: rgb(255, 0, 0);
}

#date {
    font-size: 14px;
    color: rgb(255, 0, 0);
}
#forecast {
    display: none;
    margin-top: 20px;
}

.forecast-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.forecast-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.forecast-card:hover {
    transform: scale(1.05);
}

.forecast-card img {
    width: 50px;
    height: 50px;
}

@media (max-width: 700px) {
    .container {
    padding: 20px 0; 
    }

    .weather-card {
        padding: 40px 10px; 
        max-width: 90%; 
    }

    #city-input {
        width: 60%; 
        padding: 12px;
    }
    .forecast-card {
        width: 90px; 
        padding: 8px;
    }

    .forecast-container {
        justify-content: center; 
    }
}

.suggestions-box {
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 200px;
  display: none;
  z-index: 100;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#popup-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

#close-popup {
    background: #2196F3;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* CONTACT FORM */
.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 10px;
}
.contact-container {
  margin: 20px;
  width: 100%;
  max-width: 700px;
  background: rgba(255,255,255,0.6); /* Glass effect  */
  backdrop-filter: blur(13px);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
}
.contact-form h2 {
  text-align: center; margin-top: 10px; margin-bottom: 10px; font-size:28px;
}
.contact-form p {
  text-align:center; margin-bottom:30px; font-size:16px; color:#000000;
}
.row { display:flex; gap:20px; flex-wrap:wrap; }
.field { flex:1; display:flex; flex-direction:column; margin-bottom:20px; }
.full { width:100%; }
label { margin-bottom:6px; font-size:14px; font-weight:600; color:#000000; }
input, textarea {
  padding:14px; border:none; border-radius:12px; font-size:15px;
  outline:none; background: rgba(255,255,255,0.2); color:#000000;
  transition: all 0.3s ease;
}
input::placeholder, textarea::placeholder { color: #aaa; }
input:focus, textarea:focus {
  background: rgba(255,255,255,0.3);
  box-shadow: 0 4px 15px rgba(255,255,255,0.4);
}
button {
  margin:30px auto 0 auto; display:block;
  padding:14px 40px; font-size:17px;
  background: linear-gradient(135deg,#ff758c,#ff7eb3);
  color:white; border:none; border-radius:30px; cursor:pointer;
  transition: all 0.4s ease;
}
button:hover { transform:translateY(-3px); box-shadow: 0 8px 20px rgba(255,126,179,0.6); }
@media (max-width:700px){ .row{ flex-direction:column; } }








