body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; 
    background: linear-gradient(to right, #4CAF50, #2196F3);
    overflow-y: auto; 
}

.container {
    text-align: center;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    min-width: 250px;
}

.weather-card:hover {
    transform: scale(1.05);
}

#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#city-input:focus {
    outline: none;
    border-color: #2196F3;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn {
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#city-input-btn:hover {
    background-color: #1565C0;
}

#weather-info {
    display: none;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

#description {
    font-size: 18px;
    margin-bottom: 10px;
}

#wind-speed {
    font-size: 16px;
    color: rgb(255, 0, 0);
}

#date {
    font-size: 14px;
    color: rgb(255, 0, 0);
}
#forecast {
    display: none;
    margin-top: 20px;
}

.forecast-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.forecast-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.forecast-card:hover {
    transform: scale(1.05);
}

.forecast-card img {
    width: 50px;
    height: 50px;
}

@media (max-width: 700px) {
    .forecast-card {
        width: 90px; 
        padding: 8px;
    }

    .forecast-container {
        justify-content: center; 
    }
}

.suggestions-box {
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 200px;
  display: none;
  z-index: 100;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}



